@model IEnumerable<CoffeeApp.Models.Review>
<main>
    <div class="bg_blue container-fluid">
        <div class="white_wrapper">
            <p>
                *Взято из БД
            </p>
            <table class="table">
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отзыв
                    </th>
                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                       
                    </tr>
                }

            </table>
</div></div>
</main>