
<div class="bg_blue container-fluid">
    <div class="white_wrapper">
        <h2>Кофе</h2>
        <div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="/Content/images/coffee.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Марагоджип Никарагуа</h5>
                            <p class="card-text">
                                Яркий вкус с оттенками красного яблока, пудры какао и цедрой апельсина
                            </p>
                            <p class="card-text">589 руб.</p>
                        </div>
                        <div class="card-footer"> Никарагуа</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/coffee.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Марагоджип Никарагуа</h5>
                            <p class="card-text">
                                Яркий вкус с оттенками красного яблока, пудры какао и цедрой апельсина
                            </p>
                            <p class="card-text">589 руб.</p>
                        </div>
                        <div class="card-footer"> Никарагуа</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/coffee.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Марагоджип Никарагуа</h5>
                            <p class="card-text">
                                Яркий вкус с оттенками красного яблока, пудры какао и цедрой апельсина
                            </p>
                            <p class="card-text">589 руб.</p>
                        </div>
                        <div class="card-footer"> Никарагуа</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/coffee.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Марагоджип Никарагуа</h5>
                            <p class="card-text">
                                Яркий вкус с оттенками красного яблока, пудры какао и цедрой апельсина
                            </p>
                            <p class="card-text">589 руб.</p>
                        </div>
                        <div class="card-footer"> Никарагуа</div>
                    </div>
                </div>
            </div>

            <h2>Чай</h2>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="/Content/images/tea.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Сенча</h5>
                            <p class="card-text">Сенча — самый популярный зеленый чай в Японии, на него приходится около 80% всего производящегося на территории страны чая.</p>
                            <p class="card-text">399 руб.</p>
                        </div>
                        <div class="card-footer"> Япония</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/tea.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Сенча</h5>
                            <p class="card-text">Сенча — самый популярный зеленый чай в Японии, на него приходится около 80% всего производящегося на территории страны чая.</p>
                            <p class="card-text">399 руб.</p>
                        </div>
                        <div class="card-footer"> Япония</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/tea.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Сенча</h5>
                            <p class="card-text">Сенча — самый популярный зеленый чай в Японии, на него приходится около 80% всего производящегося на территории страны чая.</p>
                            <p class="card-text">399 руб.</p>
                        </div>
                        <div class="card-footer"> Япония</div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Content/images/tea.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Сенча</h5>
                            <p class="card-text">Сенча — самый популярный зеленый чай в Японии, на него приходится около 80% всего производящегося на территории страны чая.</p>
                            <p class="card-text">399 руб.</p>
                        </div>
                        <div class="card-footer"> Япония</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
