<main class="container-fluid bg_blue">
    <div class="white_wrapper">

        <h1>Наше меню</h1>

        <div class="row">
            <table class="table">
                <tr>
                    <th colspan="2"> Завтрак</th>
                </tr>
                <tr>
                    <td>Круасан с ветчиной</td>
                    <td>140 руб.</td>
                </tr>
                <tr>
                    <td>Круасан с лососем</td>
                    <td>200 руб.</td>
                </tr>
                <tr>
                    <th colspan="2"> Обед</th>
                </tr>
                <tr>
                    <td>Клаб-сендвич</td>
                    <td>380 руб.</td>
                </tr>
                <tr>
                    <td>Мистер-бургер</td>
                    <td>450 руб.</td>
                </tr>
                <tr>
                    <th colspan="2"> Ужин</th>
                </tr>
                <tr>
                    <td>Вафельный сендвич</td>
                    <td>500 руб.</td>
                </tr>
                <tr>
                    <td>Большой сендвич с говядиной</td>
                    <td>550 руб.</td>
                </tr>
            </table>
        </div>

    </div>
</main>
