@{
    ViewBag.Title = "О нас";
}
<main class="container-fluid bg_blue">
    <div class="white_wrapper">
        <div class="row">
            <div class="col-12">
                <h1>@ViewBag.Title</h1>
            </div>
            <!--@ViewBag.Message-->
            <div class="col-12">
                <p>
                    Мы работаем с 2008 года, и все это время мы стремимся учиться новому, развиваться и совершенствовать продукт. Мы регулярно участвуем в кофейных чемпионатах, выставках, семинарах. В штате компании есть сертифицированные Q-грейдеры для
                    поиска и выбора лучшего сырья из мирового урожая.
                </p>
                <p>
                    Наше производство оснащено лучшим в мире оборудованием — ростерами от компаний Probat и Loring, дожигателями, дестоунерами, промышленными кофемолками Ditting, а также системой контроля влажности и температуры для правильного хранения
                    сырья. Мы используем многоступенчатый контроль стабильности обжарки, включая запись графиков обжарки в реальном времени, а также проверку цвета специальными колориметрами. Мы тестируем кофе в нашем собственном тренинг-центре с
                    системой водоподготовки MRS-600HE, кофемашинами Synesso, кофемолками Mazzer и Mahlkoenig.
                </p>
                <p>
                    Мы специализируемся на поставках нашего кофе, а также сопутствующих товаров в HoReCa (кофейни, бары, рестораны) и чайно-кофейные магазины. Кроме того, мы производим кофе Private Label для огромного количества компаний. На сегодня —
                    это тысячи компаний по всей России от Калининграда до Владивостока.
                </p>
            </div>
            <img alt="альтернативный текст" src="images/about-us2.jpg" />
        </div>

    </div>
</main>