@{
    ViewBag.Title = "Главная";
}
<main class="container-fluid">


    <div class="row">
        <div class="col-6  about-us">
        </div>
        <div class="col-6 bg1">
            <h2>О кофейне</h2>
            <p>
                Coffee Like - место, где можно отвлечься от всего - с хорошим кофе, вкусной выпечкой и дружелюбным персоналом. Место, куда захочется возвращаться снова и снова
            </p>
            <p>
                Нам важно, чтобы наш кофе был качественным и вкусным, поэтому мы закупаем только качественное сырье с оценками от 80 баллов SCA для коммерческих сортов и от 85 баллов для микролотов из стран Океании, Центральной и Южной Америки, Азии,
                Африки. В нашем интернет-магазине вы можете найти и купить кофе разных видов: арабику или робусту, колумбийский и вьетнамский кофе, кофе без кофеина и т.д.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 bg2">
            <h2> О кофе</h2>
            <p>
                В нашем магазине мы используем кофейную смесь Колумбия Ла Луна. Это смесь зерен 100% Арабики. Степень обжарки - средняя. А оборудование последнего поколения итальянской марки "La Marzocco" позволяет нам варить кофе высшего класса.
            </p>
        </div>
        <div class="col-6 coffee">
        </div>
    </div>
    <div class="row">
        <div class="col-6 tea">
        </div>
        <div class="col-6 bg3">
            <h2> О чае</h2>
            <p>
                Хороший чай уместен всегда и везде, в уединении он поможет собраться с мыслями и сконцентрироваться, придать ясность, в компании друзей поможет чувствовать себя непринуждённо, расслабленно. Каждый сорт чая создаёт своё уникальное ощущение
                пространства и время. Чай - отличная возможность встретиться всей семьёй за столом и поделиться новостями, а разнообразная и качественная посуда способна придать каждому чаепитию свою уникальность и создать неповторимую атмосферу.
            </p>
        </div>
    </div>
</main>